.portfolio{
    background-color: white;
    overflow-y: hidden;
    .portfolio-heading{
        h1{

            font-size: 50px;
            color:$primary;
            font-weight: 600;
        }
    }
    .portfolio-details{
        display: flex;
        justify-content: space-between;
        .work-exp{
            color: $secondary; 
        }
        .explore{
            font-size: 22px;
            color: orange;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .portfolio-images{
         display: flex;
         justify-content: start;
         img{
            height: 300px;
            border-radius: 12px;
            box-shadow: 0px 13px 13px rgba(0, 0, 0, 13%);
            cursor: pointer;
         }
     
    }
}


@media (min-width:992px) and (max-width:1023px) {
    .portfolio{
        .portfolio-heading{
            h1{
    
                font-size: 45px;
            }
        }
        .portfolio-images{
             display: flex;
             img{
                height: 280px;
             }
         
        }
    }
}
@media  (max-width:991px) and (min-width:768px) {
    .portfolio{
        .portfolio-heading{
            h1{
                font-size: 45px;
            }
        }
        .portfolio-images{
             img{
                height: 220px;
             }
         
        }
    }
}
@media  (max-width:767px)  {
    .portfolio{
        .portfolio-heading{
            h1{
                font-size: 40px;
            }
        }
        .portfolio-details{
            .explore{
                font-size: 20px;
                color: orange;
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .portfolio-images{
            display: block;
            text-align: center;
            img{
                max-width: 400px;
                margin-bottom: 20px;
             }
         
        }
    }
}
@media  (max-width:425px)  {
    .portfolio{
        .portfolio-heading{
            h1{
                font-size: 35px;
            }
        }
        .portfolio-details{
            display: block;
            p{
                font-size: 18px;
              }
        }
        .portfolio-images{
            display: block;
            text-align: center;
            img{
                max-width: 350px;
                margin-bottom: 20px;
             }
         
        }
    }
}

@media  (max-width:320px)  {
    .portfolio{
        .portfolio-heading{
            h1{
                font-size: 30px;
            }
        }
        .portfolio-details{
            display: block;
            p{
                font-size: 16px;
              }
        }
        .portfolio-images{
            display: block;
            text-align: center;
            img{
                max-width: 350px;
                margin-bottom: 20px;
             }
         
        }
    }
}